    </div> <!-- wrap -->
    
    <!-- Footer
     ================================================== -->
    <!-- <footer class="bs-footer" role="contentinfo"> -->
     <div id="footer">
      <div class="container credit">
        <p class="pull-right"><small><a href="#"><i class="fa fa-caret-up"></i> Back on top <i class="fa fa-caret-up"></i></a></small></p>
        <ul class="list-unstyled">
        <li><small><a href="mailto:contact@gilleslasnier.com">Gilles Lasnier</a> &copy; 2014</a>.</small></li>
        <li><small>Last update: {{ site.time | date_to_long_string }}.</small></li>
        <li><small><a href="{{ site.url }}/credits.html">Credits</a>.</small></li></ul>
      </div>
    </div>

    
    <!-- JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- jQuery library -->
    <script src="{{ site.url }}/assets/js/jquery-1.10.2.js"></script>
    
    <!-- Bootstrap -->
    <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.url }}/assets/js/application.js"></script>
  </body>
  
</html>
