<!DOCTYPE html>
<html lang="eng">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>{{ page.title }}</title>
    
    <meta name="keywords" content="{{ site.keywords }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="{{ site.name }}" />

    <!-- Widow at screen size -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Integration of CSS  -->
    <link href="{{ site.url }}/assets/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="{{ site.url }}/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="{{ site.url }}/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{{ site.url }}/assets/css/publications.css" rel="stylesheet" />
    <link href="{{ site.url }}/assets/css/awesome-css.css" rel="stylesheet" />
    <link href="{{ site.url }}/assets/css/blog.css" rel="stylesheet" />

    <link href="{{ site.url }}/assets/css/sticky-footer-navbar.css" rel="stylesheet" />
    
    <link href="{{ site.url }}/assets/css/jumbotron.css" rel="stylesheet" />

    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" type="image/gif" href="animated_favicon1.gif" />
    
    
    <!-- Smooth scrolling to an anchor on the same page -->
    <script>
      function goToByScroll(id){$('html,body').animate({scrollTop: $("#"+id).offset().top-50},'slow');}
    </script>
          
    <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-43430830-1', 'gilleslasnier.com');
            ga('send', 'pageview');
            
     </script>
  </head>
  
  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">
      <div class="col-lg-1 hidden-phone"></div>
      <div class="col-lg-2">
        <div class="" role="complementary">
          
            <!--<ul class="nav bs-docs-sidenav">-->
              <h2 class="blog-css"><a href="{{ site.url }}" class="blog-css">Gilles Lasnier</a></h2>
              <p class="blog-css">Head of Research <small>&amp;</small> Development and Innovation, <a href="http://www.ciele.fr/langue-english-1.html">CIELE Ing&eacute;nierie</a></p>
              <p class="blog-css">PhD., Distributed Realtime and Embedded Systems, Model-based Engineering</p>

              <hr>
              <div class="text-center">
              <a href="{{ site.url }}/"><small><i class="fa fa-home"></i></small></a>&nbsp;-&nbsp; 
              <a href="{{ site.url }}/research/"><i class="fa fa-search"></i><small></small></a>&nbsp;-&nbsp;
              <a href="{{ site.url }}/blog/"><i class="fa fa-pencil-square-o"></i><small></small></a>&nbsp;-&nbsp;
              
              <span class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-link"></i><small><b class="caret"></b></small></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Research</li>
                  <li><a href="http://www.informatik.uni-trier.de/~ley/pers/hd/l/Lasnier:Gilles">dblp</a></li>
                  <li><a href="http://scholar.google.fr/citations?user=6CZnz1kAAAAJ&hl=en">Google Scholar</a></li>
                  <li><a href="http://www.researchgate.net/profile/Gilles_Lasnier/">Research Gate</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Projects</li>
                  <li><a href="http://www.aadl.info/aadl/currentsite/">AADL@SEI/SAE</a></li>
                  <li><a href="http://aadl.enst.fr/ocarina/">Ocarina</a></li>
                  <li><a href="http://penelope.enst.fr/aadl/wiki/Projects">AADL@Telecom-ParisTech</a></li>
                  <li><a href="http://beru.univ-brest.fr/~singhoff/cheddar/">Cheddar</a></li>
                  <li><a href="http://ptolemy.eecs.berkeley.edu/">Ptolemy</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Network/Career</li>
                  <li><a href="http://www.linkedin.com/in/glasnier"><i class="fa fa-linkedin-sign"></i> Linkedin</a></li>
                  <li><a href="https://plus.google.com/103102146517061022833/posts"><i class="fa fa-google-plus"></i> Google+</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Development</li>
                  <li><a href="https://github.com/glasnier"><i class="fa fa-github"></i> GitHub</a></li>
                </ul>
              </span>
              </div>
              <hr>
              <div class="blog-css">
                <p class="blog-css"><i class="fa fa-envelope"></i> <a href="mailto:#">gilles (dot) lasnier (at) ciele.fr</a></p>
                <p class="blog-css"><i class="fa fa-phone"></i> +33 (0) 1 43 39 44 41</span>
                <p class="blog-css"><i class="fa fa-skype"></i> gilles (dot) lasnier</p>
                <p class="blog-css"><i class="fa fa-envelope"></i> CIELE Ing&eacute;nierie, 135 chemins des bassins, 94000, Cr&eacute;teil</p>
              </div>
            <!--</ul>-->
            
        </div> <!-- end container -->
      </div> <!-- end navbar -->

{{ content }}

{% include footer.html %}
